<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsmsframework.user.mapper.JsmsOauthPicMapper">
     
        
    <resultMap id="rowMapper" type="com.jsmsframework.user.entity.JsmsOauthPic">
        <result property="id" jdbcType="INTEGER" column="id"/>
        <result property="agentId" jdbcType="INTEGER" column="agent_id"/>
        <result property="clientId" jdbcType="VARCHAR" column="client_id"/>
        <result property="idNbr" jdbcType="VARCHAR" column="id_nbr"/>
        <result property="imgUrl" jdbcType="VARCHAR" column="img_url"/>
        <result property="idType" jdbcType="INTEGER" column="id_type"/>
        <result property="idOrder" jdbcType="INTEGER" column="id_order"/>
        <result property="idDesc" jdbcType="VARCHAR" column="id_desc"/>
        <result property="createDate" jdbcType="TIMESTAMP" column="create_date"/>
        <result property="updateDate" jdbcType="TIMESTAMP" column="update_date"/>
        <result property="status" jdbcType="INTEGER" column="status"/>
        <result property="idNbr2" jdbcType="VARCHAR" column="id_nbr2"/>
        <result property="idNbr3" jdbcType="VARCHAR" column="id_nbr3"/>
        <result property="remotePath" jdbcType="VARCHAR" column="remote_path"/>
        <result property="oauthType" jdbcType="INTEGER" column="oauth_type"/>
    </resultMap> 
     
    <sql id="BASE_COLUMN_LIST">
        id,
        agent_id,
        client_id,
        id_nbr,
        img_url,
        id_type,
        id_order,
        id_desc,
        create_date,
        update_date,
        status,
        id_nbr2,
        id_nbr3,
        remote_path,
        oauth_type
    </sql>

    <insert id="insert" parameterType="com.jsmsframework.user.entity.JsmsOauthPic" >
        INSERT INTO t_sms_oauth_pic 
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="agentId != null" >
                agent_id,
            </if>
            <if test="clientId != null" >
                client_id,
            </if>
            <if test="idNbr != null" >
                id_nbr,
            </if>
            <if test="imgUrl != null" >
                img_url,
            </if>
            <if test="idType != null" >
                id_type,
            </if>
            <if test="idOrder != null" >
                id_order,
            </if>
            <if test="idDesc != null" >
                id_desc,
            </if>
            <if test="createDate != null" >
                create_date,
            </if>
            <if test="updateDate != null" >
                update_date,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="idNbr2 != null" >
                id_nbr2,
            </if>
            <if test="idNbr3 != null" >
                id_nbr3,
            </if>
            <if test="remotePath != null" >
                remote_path,
            </if>
            <if test="oauthType != null" >
                oauth_type
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id},
            </if>
            <if test="agentId != null" >
                #{agentId},
            </if>
            <if test="clientId != null" >
                #{clientId},
            </if>
            <if test="idNbr != null" >
                #{idNbr},
            </if>
            <if test="imgUrl != null" >
                #{imgUrl},
            </if>
            <if test="idType != null" >
                #{idType},
            </if>
            <if test="idOrder != null" >
                #{idOrder},
            </if>
            <if test="idDesc != null" >
                #{idDesc},
            </if>
            <if test="createDate != null" >
                #{createDate},
            </if>
            <if test="updateDate != null" >
                #{updateDate},
            </if>
            <if test="status != null" >
                #{status},
            </if>
            <if test="idNbr2 != null" >
                #{idNbr2},
            </if>
            <if test="idNbr3 != null" >
                #{idNbr3},
            </if>
            <if test="remotePath != null" >
                #{remotePath},
            </if>
            <if test="oauthType != null" >
                #{oauthType}
            </if>
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" >
        INSERT INTO t_sms_oauth_pic (
            id,
            agent_id,
            client_id,
            id_nbr,
            img_url,
            id_type,
            id_order,
            id_desc,
            create_date,
            update_date,
            status,
            id_nbr2,
            id_nbr3,
            remote_path,
            oauth_type
        )VALUES
        <foreach collection="list" item="item" index="index" separator="," >  
            (
                #{item.id},
                #{item.agentId},
                #{item.clientId},
                #{item.idNbr},
                #{item.imgUrl},
                #{item.idType},
                #{item.idOrder},
                #{item.idDesc},
                #{item.createDate},
                #{item.updateDate},
                #{item.status},
                #{item.idNbr2},
                #{item.idNbr3},
                #{item.remotePath},
                #{item.oauthType}
            )
        </foreach>
    </insert>
    

    

    <!--
    <delete id="delete">
        DELETE FROM t_sms_oauth_pic WHERE id = #{id}
    </delete>
    -->
    
    <update id="update" parameterType="com.jsmsframework.user.entity.JsmsOauthPic" >
        UPDATE t_sms_oauth_pic SET 
            agent_id=#{agentId},
            client_id=#{clientId},
            id_nbr=#{idNbr},
            img_url=#{imgUrl},
            id_type=#{idType},
            id_order=#{idOrder},
            id_desc=#{idDesc},
            create_date=#{createDate},
            update_date=#{updateDate},
            status=#{status},
            id_nbr2=#{idNbr2},
            id_nbr3=#{idNbr3},
            remote_path=#{remotePath},
            oauth_type=#{oauthType}
        WHERE 
            id = #{id} 
    </update>
    
 
    
    <update id="updateSelective" parameterType="com.jsmsframework.user.entity.JsmsOauthPic" >
        UPDATE t_sms_oauth_pic 
            <set>
                <if test="agentId != null and agentId != ''">
                    agent_id = #{agentId},
                </if>
                <if test="clientId != null and clientId != ''">
                    client_id = #{clientId},
                </if>
                <if test="idNbr != null and idNbr != ''">
                    id_nbr = #{idNbr},
                </if>
                <if test="imgUrl != null and imgUrl != ''">
                    img_url = #{imgUrl},
                </if>
                <if test="idType != null and idType != ''">
                    id_type = #{idType},
                </if>
                <if test="idOrder != null and idOrder != ''">
                    id_order = #{idOrder},
                </if>
                <if test="idDesc != null and idDesc != ''">
                    id_desc = #{idDesc},
                </if>
                <if test="createDate != null and createDate != ''">
                    create_date = #{createDate},
                </if>
                <if test="updateDate != null and updateDate != ''">
                    update_date = #{updateDate},
                </if>
                <if test="status != null and status != ''">
                    status = #{status},
                </if>
                <if test="idNbr2 != null and idNbr2 != ''">
                    id_nbr2 = #{idNbr2},
                </if>
                <if test="idNbr3 != null and idNbr3 != ''">
                    id_nbr3 = #{idNbr3},
                </if>
                <if test="remotePath != null and remotePath != ''">
                    remote_path = #{remotePath},
                </if>
                <if test="oauthType != null and oauthType != ''">
                    oauth_type = #{oauthType}
                </if>
            </set>
        WHERE 
            id = #{id} 
    </update>

    <select id="getById" resultMap="rowMapper">
        SELECT 
            <include refid="BASE_COLUMN_LIST" />
        FROM t_sms_oauth_pic
        WHERE 
            id = #{id}
    </select>

    <select id="queryList" resultMap="rowMapper">
        SELECT 
            <include refid="BASE_COLUMN_LIST" /> 
        FROM t_sms_oauth_pic 
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="params.id != null and params.id != ''">
                and id = #{params.id}
            </if>
            <if test="params.agentId != null and params.agentId != ''">
                and agent_id = #{params.agentId}
            </if>
            <if test="params.clientId != null and params.clientId != ''">
                and client_id = #{params.clientId}
            </if>
            <if test="params.idNbr != null and params.idNbr != ''">
                and id_nbr = #{params.idNbr}
            </if>
            <if test="params.imgUrl != null and params.imgUrl != ''">
                and img_url = #{params.imgUrl}
            </if>
            <if test="params.idType != null and params.idType != ''">
                and id_type = #{params.idType}
            </if>
            <if test="params.idOrder != null and params.idOrder != ''">
                and id_order = #{params.idOrder}
            </if>
            <if test="params.idDesc != null and params.idDesc != ''">
                and id_desc = #{params.idDesc}
            </if>
            <if test="params.createDate != null and params.createDate != ''">
                and create_date = #{params.createDate}
            </if>
            <if test="params.updateDate != null and params.updateDate != ''">
                and update_date = #{params.updateDate}
            </if>
            <if test="params.status != null and params.status != ''">
                and status = #{params.status}
            </if>
            <if test="params.idNbr2 != null and params.idNbr2 != ''">
                and id_nbr2 = #{params.idNbr2}
            </if>
            <if test="params.idNbr3 != null and params.idNbr3 != ''">
                and id_nbr3 = #{params.idNbr3}
            </if>
            <if test="params.remotePath != null and params.remotePath != ''">
                and remote_path = #{params.remotePath}
            </if>
            <if test="params.oauthType != null and params.oauthType != ''">
                and oauth_type = #{params.oauthType}
            </if>
	     </trim>
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(0) 
        FROM t_sms_oauth_pic 
        WHERE 
            1 = 1
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="agentId != null and agentId != ''">
                and agent_id = #{agentId}
            </if>
            <if test="clientId != null and clientId != ''">
                and client_id = #{clientId}
            </if>
            <if test="idNbr != null and idNbr != ''">
                and id_nbr = #{idNbr}
            </if>
            <if test="imgUrl != null and imgUrl != ''">
                and img_url = #{imgUrl}
            </if>
            <if test="idType != null and idType != ''">
                and id_type = #{idType}
            </if>
            <if test="idOrder != null and idOrder != ''">
                and id_order = #{idOrder}
            </if>
            <if test="idDesc != null and idDesc != ''">
                and id_desc = #{idDesc}
            </if>
            <if test="createDate != null and createDate != ''">
                and create_date = #{createDate}
            </if>
            <if test="updateDate != null and updateDate != ''">
                and update_date = #{updateDate}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="idNbr2 != null and idNbr2 != ''">
                and id_nbr2 = #{idNbr2}
            </if>
            <if test="idNbr3 != null and idNbr3 != ''">
                and id_nbr3 = #{idNbr3}
            </if>
            <if test="remotePath != null and remotePath != ''">
                and remote_path = #{remotePath}
            </if>
            <if test="oauthType != null and oauthType != ''">
                and oauth_type = #{oauthType}
            </if>
    </select>
	 
</mapper>

