/target/
/logs/
/bin/
/.settings/
.classpath
.project
/log/
.git/
/node_modules/
/dist/
/bower_components/
.idea/
/lib/
/build/
*/.settings/
*/.classpath
*/target/
*/logs/
*/bin/
*/*.iml
*.iml
*.versionsBackup
*/*.versionsBackup

