<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsmsframework.sysKeyword.mapper.JsmsSysCgroupRefClientMapper">
     
        
    <resultMap id="rowMapper" type="com.jsmsframework.sysKeyword.entity.JsmsSysCgroupRefClient">
        <result property="id" jdbcType="INTEGER" column="id"/>
        <result property="cgroupId" jdbcType="INTEGER" column="cgroup_id"/>
        <result property="clientid" jdbcType="VARCHAR" column="clientid"/>
    </resultMap> 
     
    <sql id="BASE_COLUMN_LIST">
        id,
        cgroup_id,
        clientid
    </sql>

    <insert id="insert" parameterType="com.jsmsframework.sysKeyword.entity.JsmsSysCgroupRefClient" >
        INSERT INTO t_sms_sys_cgroup_ref_client 
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="cgroupId != null" >
                cgroup_id,
            </if>
            <if test="clientid != null" >
                clientid
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id},
            </if>
            <if test="cgroupId != null" >
                #{cgroupId},
            </if>
            <if test="clientid != null" >
                #{clientid}
            </if>
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" >
        INSERT INTO t_sms_sys_cgroup_ref_client (
            id,
            cgroup_id,
            clientid
        )VALUES
        <foreach collection="list" item="item" index="index" separator="," >  
            (
                #{item.id},
                #{item.cgroupId},
                #{item.clientid}
            )
        </foreach>
    </insert>
    

    

    <!--
    <delete id="delete">
        DELETE FROM t_sms_sys_cgroup_ref_client WHERE id = #{id}
    </delete>
    -->
    
    <update id="update" parameterType="com.jsmsframework.sysKeyword.entity.JsmsSysCgroupRefClient" >
        UPDATE t_sms_sys_cgroup_ref_client SET 
            cgroup_id=#{cgroupId},
            clientid=#{clientid}
        WHERE 
            id = #{id} 
    </update>
    
 
    
    <update id="updateSelective" parameterType="com.jsmsframework.sysKeyword.entity.JsmsSysCgroupRefClient" >
        UPDATE t_sms_sys_cgroup_ref_client 
            <set>
                <if test="cgroupId != null">
                    cgroup_id = #{cgroupId},
                </if>
                <if test="clientid != null">
                    clientid = #{clientid}
                </if>
            </set>
        WHERE 
            id = #{id} 
    </update>

    <select id="getById" resultMap="rowMapper">
        SELECT 
            <include refid="BASE_COLUMN_LIST" />
        FROM t_sms_sys_cgroup_ref_client
        WHERE 
            id = #{id}
    </select>

    <select id="queryList" resultMap="rowMapper">
        SELECT 
            <include refid="BASE_COLUMN_LIST" /> 
        FROM t_sms_sys_cgroup_ref_client 
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="params.id != null">
                and id = #{params.id}
            </if>
            <if test="params.cgroupId != null">
                and cgroup_id = #{params.cgroupId}
            </if>
            <if test="params.clientid != null">
                and clientid = #{params.clientid}
            </if>
	     </trim>
    </select>

    <select id="findList" resultMap="rowMapper">
        SELECT
            <include refid="BASE_COLUMN_LIST" />
        FROM t_sms_sys_cgroup_ref_client
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="cgroupId != null">
                and cgroup_id = #{cgroupId}
            </if>
            <if test="clientid != null">
                and clientid = #{clientid}
            </if>
	     </trim>
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(0) 
        FROM t_sms_sys_cgroup_ref_client 
        WHERE 
            1 = 1
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="cgroupId != null">
                and cgroup_id = #{cgroupId}
            </if>
            <if test="clientid != null">
                and clientid = #{clientid}
            </if>
    </select>

    <delete id="deleteByCgroupId">
        DELETE FROM t_sms_sys_cgroup_ref_client WHERE cgroup_id = #{cgroupId}
    </delete>

    <select id="selectByCgroupId" resultMap="rowMapper">
        SELECT <include refid="BASE_COLUMN_LIST"/>
        FROM t_sms_sys_cgroup_ref_client
        WHERE cgroup_id = #{cgroupId}
    </select>

    <select id="getByClientId" resultMap="rowMapper">
        SELECT <include refid="BASE_COLUMN_LIST"/>
        FROM t_sms_sys_cgroup_ref_client
        WHERE clientid = #{clientId} limit 1
    </select>
    
</mapper>

