<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsmsframework.product.mapper.JsmsOemAgentProductMapper">
     
        
    <resultMap id="rowMapper" type="com.jsmsframework.product.entity.JsmsOemAgentProduct">
        <result property="id" jdbcType="INTEGER" column="id"/>
        <result property="agentId" jdbcType="INTEGER" column="agent_id"/>
        <result property="productId" jdbcType="INTEGER" column="product_id"/>
        <result property="discountPrice" jdbcType="DECIMAL" column="discount_price"/>
        <result property="gjSmsDiscount" jdbcType="DECIMAL" column="gj_sms_discount"/>
        <result property="createTime" jdbcType="TIMESTAMP" column="create_time"/>
        <result property="adminId" jdbcType="BIGINT" column="admin_id"/>
        <result property="updateTime" jdbcType="TIMESTAMP" column="update_time"/>
    </resultMap> 
     
    <sql id="BASE_COLUMN_LIST">
        id,
        agent_id,
        product_id,
        discount_price,
        gj_sms_discount,
        create_time,
        admin_id,
        update_time
    </sql>

    <insert id="insert" parameterType="com.jsmsframework.product.entity.JsmsOemAgentProduct" >
        INSERT INTO t_sms_oem_agent_product 
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="agentId != null" >
                agent_id,
            </if>
            <if test="productId != null" >
                product_id,
            </if>
            <if test="discountPrice != null" >
                discount_price,
            </if>
            <if test="gjSmsDiscount != null" >
                gj_sms_discount,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="adminId != null" >
                admin_id,
            </if>
            <if test="updateTime != null" >
                update_time
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id},
            </if>
            <if test="agentId != null" >
                #{agentId},
            </if>
            <if test="productId != null" >
                #{productId},
            </if>
            <if test="discountPrice != null" >
                #{discountPrice},
            </if>
            <if test="gjSmsDiscount != null" >
                #{gjSmsDiscount},
            </if>
            <if test="createTime != null" >
                now(),
            </if>
            <if test="adminId != null" >
                #{adminId},
            </if>
            <if test="updateTime != null" >
                now()
            </if>
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" >
        INSERT INTO t_sms_oem_agent_product (
            id,
            agent_id,
            product_id,
            discount_price,
            gj_sms_discount,
            create_time,
            admin_id,
            update_time
        )VALUES
        <foreach collection="list" item="item" index="index" separator="," >  
            (
                #{item.id},
                #{item.agentId},
                #{item.productId},
                #{item.discountPrice},
                #{item.gjSmsDiscount},
                now(),
                #{item.adminId},
                now()
            )
        </foreach>
    </insert>
    

    

    <!--
    <delete id="delete">
        DELETE FROM t_sms_oem_agent_product WHERE id = #{id}
    </delete>
    -->
    
    <update id="update" parameterType="com.jsmsframework.product.entity.JsmsOemAgentProduct" >
        UPDATE t_sms_oem_agent_product SET 
            agent_id=#{agentId},
            product_id=#{productId},
            discount_price=#{discountPrice},
            gj_sms_discount=#{gjSmsDiscount},
            create_time=#{createTime},
            admin_id=#{adminId},
            update_time=#{updateTime}
        WHERE 
            id = #{id} 
    </update>
    
 
    
    <update id="updateSelective" parameterType="com.jsmsframework.product.entity.JsmsOemAgentProduct" >
        UPDATE t_sms_oem_agent_product 
            <set>
                <if test="agentId != null and agentId != ''">
                    agent_id = #{agentId},
                </if>
                <if test="productId != null and productId != ''">
                    product_id = #{productId},
                </if>
                <if test="discountPrice != null">
                    discount_price = #{discountPrice},
                </if>
                <if test="gjSmsDiscount != null">
                    gj_sms_discount = #{gjSmsDiscount},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime},
                </if>
                <if test="adminId != null and adminId != ''">
                    admin_id = #{adminId},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime}
                </if>
            </set>
        WHERE 
            id = #{id} 
    </update>

    <select id="getById" resultMap="rowMapper">
        SELECT 
            <include refid="BASE_COLUMN_LIST" />
        FROM t_sms_oem_agent_product
        WHERE 
            id = #{id}
    </select>

    <select id="queryList" resultMap="rowMapper">
        SELECT
            <include refid="BASE_COLUMN_LIST" />
        FROM t_sms_oem_agent_product
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="params.id != null and params.id != ''">
                and id = #{params.id}
            </if>
            <if test="params.agentId != null and params.agentId != ''">
                and agent_id = #{params.agentId}
            </if>
            <if test="params.productId != null and params.productId != ''">
                and product_id = #{params.productId}
            </if>
            <if test="params.discountPrice != null">
                and discount_price = #{params.discountPrice}
            </if>
            <if test="params.gjSmsDiscount != null">
                and gj_sms_discount = #{params.gjSmsDiscount}
            </if>
            <if test="params.createTime != null and params.createTime != ''">
                and create_time = #{params.createTime}
            </if>
            <if test="params.adminId != null and params.adminId != ''">
                and admin_id = #{params.adminId}
            </if>
            <if test="params.updateTime != null and params.updateTime != ''">
                and update_time = #{params.updateTime}
            </if>
	     </trim>
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(0) 
        FROM t_sms_oem_agent_product 
        WHERE 
            1 = 1
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="agentId != null and agentId != ''">
                and agent_id = #{agentId}
            </if>
            <if test="productId != null and productId != ''">
                and product_id = #{productId}
            </if>
            <if test="discountPrice != null">
                and discount_price = #{discountPrice}
            </if>
            <if test="gjSmsDiscount != null">
                and gj_sms_discount = #{gjSmsDiscount}
            </if>
            <if test="createTime != null and createTime != ''">
                and create_time = #{createTime}
            </if>
            <if test="adminId != null and adminId != ''">
                and admin_id = #{adminId}
            </if>
            <if test="updateTime != null and updateTime != ''">
                and update_time = #{updateTime}
            </if>
    </select>

    <select id="getByAgentIdAndProductId" resultMap="rowMapper">
        SELECT
        <include refid="BASE_COLUMN_LIST" />
        FROM t_sms_oem_agent_product
        WHERE
          agent_id = #{agentId} and product_id = #{productId}
        ORDER BY update_time desc
        limit 1
    </select>

</mapper>

