<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsmsframework.finance.mapper.JsmsAgentBalanceAlarmMapper">
     
        
    <resultMap id="rowMapper" type="com.jsmsframework.finance.entity.JsmsAgentBalanceAlarm">
        <result property="id" jdbcType="INTEGER" column="id"/>
        <result property="agentId" jdbcType="INTEGER" column="agent_id"/>
        <result property="alarmPhone" jdbcType="VARCHAR" column="alarm_phone"/>
        <result property="alarmAmount" jdbcType="DECIMAL" column="alarm_amount"/>
        <result property="reminderNumber" jdbcType="INTEGER" column="reminder_number"/>
        <result property="resetTime" jdbcType="TIMESTAMP" column="reset_time"/>
        <result property="createTime" jdbcType="TIMESTAMP" column="create_time"/>
        <result property="updateTime" jdbcType="TIMESTAMP" column="update_time"/>
    </resultMap> 
     
    <sql id="BASE_COLUMN_LIST">
        id,
        agent_id,
        alarm_phone,
        alarm_amount,
        reminder_number,
        reset_time,
        create_time,
        update_time
    </sql>

    <insert id="insert" parameterType="com.jsmsframework.finance.entity.JsmsAgentBalanceAlarm" >
        INSERT INTO t_sms_agent_balance_alarm 
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="agentId != null" >
                agent_id,
            </if>
            <if test="alarmPhone != null" >
                alarm_phone,
            </if>
            <if test="alarmAmount != null" >
                alarm_amount,
            </if>
            <if test="reminderNumber != null" >
                reminder_number,
            </if>
            <if test="resetTime != null" >
                reset_time,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateTime != null" >
                update_time
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id},
            </if>
            <if test="agentId != null" >
                #{agentId},
            </if>
            <if test="alarmPhone != null" >
                #{alarmPhone},
            </if>
            <if test="alarmAmount != null" >
                #{alarmAmount},
            </if>
            <if test="reminderNumber != null" >
                #{reminderNumber},
            </if>
            <if test="resetTime != null" >
                #{resetTime},
            </if>
            <if test="createTime != null" >
                now(),
            </if>
            <if test="updateTime != null" >
                now()
            </if>
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" >
        INSERT INTO t_sms_agent_balance_alarm (
            id,
            agent_id,
            alarm_phone,
            alarm_amount,
            reminder_number,
            reset_time,
            create_time,
            update_time
        )VALUES
        <foreach collection="list" item="item" index="index" separator="," >  
            (
                #{item.id},
                #{item.agentId},
                #{item.alarmPhone},
                #{item.alarmAmount},
                #{item.reminderNumber},
                #{item.resetTime},
                now(),
                now()
            )
        </foreach>
    </insert>
    

    

    <!--
    <delete id="delete">
        DELETE FROM t_sms_agent_balance_alarm WHERE id = #{id}
    </delete>
    -->
    
    <update id="update" parameterType="com.jsmsframework.finance.entity.JsmsAgentBalanceAlarm" >
        UPDATE t_sms_agent_balance_alarm SET 
            agent_id=#{agentId},
            alarm_phone=#{alarmPhone},
            alarm_amount=#{alarmAmount},
            reminder_number=#{reminderNumber},
            reset_time=#{resetTime},
            create_time=#{createTime},
            update_time=#{updateTime}
        WHERE 
            id = #{id} 
    </update>
    
 
    
    <update id="updateSelective" parameterType="com.jsmsframework.finance.entity.JsmsAgentBalanceAlarm" >
        UPDATE t_sms_agent_balance_alarm 
            <set>
                <if test="agentId != null">
                    agent_id = #{agentId},
                </if>
                <if test="alarmPhone != null and alarmPhone != ''">
                    alarm_phone = #{alarmPhone},
                </if>
                <if test="alarmAmount != null">
                    alarm_amount = #{alarmAmount},
                </if>
                <if test="reminderNumber != null and reminderNumber != ''">
                    reminder_number = #{reminderNumber},
                </if>
                <if test="resetTime != null ">
                    reset_time = #{resetTime},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime}
                </if>
            </set>
        WHERE 
            id = #{id} 
    </update>

    <update id="updateByAgentId" parameterType="com.jsmsframework.finance.entity.JsmsAgentBalanceAlarm" >
        UPDATE t_sms_agent_balance_alarm
            <set>
                <if test="agentId != null">
                    agent_id = #{agentId},
                </if>
                <if test="alarmPhone != null and alarmPhone != ''">
                    alarm_phone = #{alarmPhone},
                </if>
                <if test="alarmAmount != null">
                    alarm_amount = #{alarmAmount},
                </if>
                <if test="reminderNumber != null">
                    reminder_number = #{reminderNumber},
                </if>
                <if test="resetTime != null and resetTime != ''">
                    reset_time = #{resetTime},
                </if>
                <if test="createTime != null and createTime != ''">
                    create_time = #{createTime},
                </if>
                <if test="updateTime != null and updateTime != ''">
                    update_time = #{updateTime}
                </if>
            </set>
        WHERE
            agent_id = #{agentId}
    </update>

    <select id="getById" resultMap="rowMapper">
        SELECT 
            <include refid="BASE_COLUMN_LIST" />
        FROM t_sms_agent_balance_alarm
        WHERE
          id = #{id}
    </select>

    <select id="getByAgentId" resultMap="rowMapper">
        SELECT
            <include refid="BASE_COLUMN_LIST" />
        FROM t_sms_agent_balance_alarm
        WHERE
          agent_id = #{agentId}
    </select>

    <select id="queryList" resultMap="rowMapper">
        SELECT 
            <include refid="BASE_COLUMN_LIST" /> 
        FROM t_sms_agent_balance_alarm 
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="params.id != null">
                and id = #{params.id}
            </if>
            <if test="params.agentId != null">
                and agent_id = #{params.agentId}
            </if>
            <if test="params.alarmPhone != null and params.alarmPhone != ''">
                and alarm_phone = #{params.alarmPhone}
            </if>
            <if test="params.alarmAmount != null and params.alarmAmount != ''">
                and alarm_amount = #{params.alarmAmount}
            </if>
            <if test="params.reminderNumber != null and params.reminderNumber != ''">
                and reminder_number = #{params.reminderNumber}
            </if>
            <if test="params.resetTime != null and params.resetTime != ''">
                and reset_time = #{params.resetTime}
            </if>
            <if test="params.createTime != null and params.createTime != ''">
                and create_time = #{params.createTime}
            </if>
            <if test="params.updateTime != null and params.updateTime != ''">
                and update_time = #{params.updateTime}
            </if>

	     </trim>
    </select>

    <select id="queryNeedAlarmList" resultMap="rowMapper">
        SELECT
            <include refid="BASE_COLUMN_LIST" />
        FROM t_sms_agent_balance_alarm
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            reminder_number > 0
            and alarm_amount > 0
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="agentId != null">
                and agent_id = #{agentId}
            </if>
            <if test="alarmPhone != null and alarmPhone != ''">
                and alarm_phone = #{alarmPhone}
            </if>
            <if test="resetTime != null and resetTime != ''">
                and reset_time = #{resetTime}
            </if>
            <if test="createTime != null and createTime != ''">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null and updateTime != ''">
                and update_time = #{updateTime}
            </if>

	     </trim>
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(0) 
        FROM t_sms_agent_balance_alarm 
        WHERE 
            1 = 1
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="agentId != null and agentId != ''">
                and agent_id = #{agentId}
            </if>
            <if test="alarmPhone != null and alarmPhone != ''">
                and alarm_phone = #{alarmPhone}
            </if>
            <if test="alarmAmount != null and alarmAmount != ''">
                and alarm_amount = #{alarmAmount}
            </if>
            <if test="reminderNumber != null and reminderNumber != ''">
                and reminder_number = #{reminderNumber}
            </if>
            <if test="resetTime != null and resetTime != ''">
                and reset_time = #{resetTime}
            </if>
            <if test="createTime != null and createTime != ''">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null and updateTime != ''">
                and update_time = #{updateTime}
            </if>
    </select>

    <select id="findList" resultMap="rowMapper">
        SELECT
          <include refid="BASE_COLUMN_LIST" />
        FROM t_sms_agent_balance_alarm
        WHERE
        1=1
        <if test="model.id != null">
            and id = #{model.id}
        </if>
        <if test="model.agentId != null">
            and agent_id = #{model.agentId}
        </if>
        <if test="model.alarmPhone != null and model.alarmPhone != ''">
            and alarm_phone = #{model.alarmPhone}
        </if>
        <if test="model.alarmAmount != null">
            and alarm_amount = #{model.alarmAmount}
        </if>
        <if test="model.reminderNumber != null">
            and reminder_number = #{model.reminderNumber}
        </if>
        <if test="model.resetTime != null">
            and reset_time = #{model.resetTime}
        </if>
        <if test="model.createTime != null">
            and create_time = #{model.createTime}
        </if>
        <if test="model.updateTime != null">
            and update_time = #{model.updateTime}
        </if>
        <if test="agentIds != null and agentIds.size > 0">
            and agent_id IN
            <foreach collection="agentIds" index="item" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>

