<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsmsframework.sysConfig.mapper.JsmsWhiteListMapper">
     
        
    <resultMap id="rowMapper" type="com.jsmsframework.sysConfig.entity.JsmsWhiteList">
        <result property="id" jdbcType="BIGINT" column="id"/>
        <result property="phone" jdbcType="VARCHAR" column="phone"/>
        <result property="smstypes" jdbcType="BIGINT" column="smstypes"/>
        <result property="remarks" jdbcType="VARCHAR" column="remarks"/>
        <result property="createtime" jdbcType="TIMESTAMP" column="createtime"/>
        <result property="operatorId" jdbcType="BIGINT" column="operator_id"/>
    </resultMap> 
     
    <sql id="BASE_COLUMN_LIST">
        id,
        phone,
        smstypes,
        remarks,
        createtime,
        operator_id
    </sql>

    <insert id="insert" parameterType="com.jsmsframework.sysConfig.entity.JsmsWhiteList" >
        INSERT INTO t_sms_white_list 
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="phone != null" >
                phone,
            </if>
            <if test="smstypes != null" >
                smstypes,
            </if>
            <if test="remarks != null" >
                remarks,
            </if>
            <if test="createtime != null" >
                createtime,
            </if>
            <if test="operatorId != null" >
                operator_id
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id},
            </if>
            <if test="phone != null" >
                #{phone},
            </if>
            <if test="phone != null" >
                #{smstypes},
            </if>
            <if test="remarks != null" >
                #{remarks},
            </if>
            <if test="createtime != null" >
                #{createtime},
            </if>
            <if test="operatorId != null" >
                #{operatorId}
            </if>
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" >
        INSERT INTO t_sms_white_list (
            phone,
            smstypes,
            remarks,
            createtime,
            operator_id
        )VALUES
        <foreach collection="list" item="item" index="index" separator="," >  
            (
                #{item.phone},
                #{item.smstypes},
                #{item.remarks},
                #{item.createtime},
                #{item.operatorId}
            )
        </foreach>
    </insert>
    

    

    <!--
    <delete id="delete">
        DELETE FROM t_sms_white_list WHERE id = #{id}
    </delete>
    -->
    
    <update id="update" parameterType="com.jsmsframework.sysConfig.entity.JsmsWhiteList" >
        UPDATE t_sms_white_list SET 
            phone=#{phone},
            smstypes=#{smstypes},
            remarks=#{remarks},
            createtime=#{createtime},
            operator_id=#{operatorId}
        WHERE 
            id = #{id} 
    </update>
    
 
    
    <update id="updateSelective" parameterType="com.jsmsframework.sysConfig.entity.JsmsWhiteList" >
        UPDATE t_sms_white_list 
            <set>
                <if test="phone != null">
                    phone = #{phone},
                </if>
                <if test="smstypes != null">
                    smstypes = #{smstypes},
                </if>
                <if test="remarks != null">
                    remarks = #{remarks},
                </if>
                <if test="createtime != null">
                    createtime = #{createtime},
                </if>
                <if test="operatorId != null">
                    operator_id = #{operatorId}
                </if>
            </set>
        WHERE 
            id = #{id} 
    </update>

    <select id="getById" resultMap="rowMapper">
        SELECT 
            <include refid="BASE_COLUMN_LIST" />
        FROM t_sms_white_list
        WHERE 
            id = #{id}
    </select>

    <select id="getByPhone" resultMap="rowMapper">
        SELECT
        <include refid="BASE_COLUMN_LIST" />
        FROM t_sms_white_list
        WHERE
        phone = #{phone}
    </select>


    <delete id="deleteWhiteList">
        delete from t_sms_white_list where id = #{id}
    </delete>


    <select id="queryList" resultMap="rowMapper">
        SELECT 
            <include refid="BASE_COLUMN_LIST" /> 
        FROM t_sms_white_list
        WHERE 1=1
            <if test="params.id != null">
                and id = #{params.id}
            </if>
            <if test="params.phone != null">
                and phone LIKE concat('%',#{params.phone}, '%')
            </if>
            <if test="params.smstypes != null">
                and <![CDATA[ (smstypes & #{params.smstypes})= #{params.smstypes} ]]>
            </if>
            <if test="params.remarks != null">
                and remarks = #{params.remarks}
            </if>
            <if test="params.createtime != null">
                and createtime = #{params.createtime}
            </if>
            <if test="params.operatorId != null">
                and operator_id = #{params.operatorId}
            </if>

    </select>

    <select id="findList" resultMap="rowMapper">
        SELECT
            <include refid="BASE_COLUMN_LIST" />
        FROM t_sms_white_list
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="phone != null">
                and phone = #{phone}
            </if>
            <if test="smstypes != null">
                and  <![CDATA[ (smstypes & #{smstypes})= #{smstypes} ]]>
            </if>
            <if test="remarks != null">
                and remarks = #{remarks}
            </if>
            <if test="createtime != null">
                and createtime = #{createtime}
            </if>
            <if test="operatorId != null">
                and operator_id = #{operatorId}
            </if>
	     </trim>
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(0) 
        FROM t_sms_white_list 
        WHERE 
            1 = 1
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="phone != null">
                and phone = #{phone}
            </if>
            <if test="smstypes != null">
              and <![CDATA[ (smstypes & #{smstypes})= #{smstypes} ]]>
            </if>
            <if test="remarks != null">
                and remarks = #{remarks}
            </if>
            <if test="createtime != null">
                and createtime = #{createtime}
            </if>
            <if test="operatorId != null">
                and operator_id = #{operatorId}
            </if>
    </select>
	 
</mapper>

